$primary-bg-color: hsl(185, 75%, 39%);
$primary-text-color: hsl(229, 23%, 23%);
$secondary-color: hsl(227, 10%, 46%);
$secondary-text-color: hsl(0, 0%, 59%);

$font: "Kumbh Sans", sans-serif;
$font-size: 18px;
$regular: 400;
$bold: 700;
$light: 100;

$mobile: 600px;
